@model IEnumerable<NRL_WebSide.Ladder>

@{
    ViewBag.Title = "Index";
}

<h2>Ladder</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Played)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Win)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Draw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Byes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.For)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Against)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diff)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Club.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Played)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Win)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Draw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Byes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.For)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Against)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diff)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LadderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LadderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LadderID })
        </td>
    </tr>
}

</table>
