@model NRL_Club_Management_WebSide.Ladder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ladder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamesWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamesWon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamesLost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamesLost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club.ClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.ClubName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LadderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
